.AddMovies {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: rgb(87, 210, 231);
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #b35842;
  border: 1px solid #c44f32;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #c44f32;
  border-color: #c44f32;
}









/* @import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
.footer {
  background: #56ccf2;
  text-align: left;
  color: white;
  padding: 30px;
  padding-left: 100px;
  font-size: larger;
}
.home-button {
  border: 1px solid #56CCF2;
  padding: 15px 30px;
  font-size: 23px;
  font-weight: 200;
  margin: 10px auto;
  background: inherit;
  cursor: pointer;
  color: white;
 
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 30px;
}
.home-item {
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: medium;
}
.home-item .home-date {
  width: 12%;
}
.home-item .home-place {
  width: 25%;
  color: #777;
}
.home-item .home-area {
  width: 53%;
  color: #777;
}
.home-item .buy-button {
  width: 20%;
  background: #56ccf2;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
.hometitle {
  font-family: "Metal Mania";
  text-align: center;
  padding: 20px;
  font-size: 30px;
} */
